.Search{
    width: 429px;
    height: 60px;
    margin-left: 12px;
    background-color: #DDDDDD;
    font-size: 20px;
    font-weight: 600;
}

@media(max-width: 1024px){
    .Search{
        width: 429px;
        height: 40px;
    }
}

@media(max-width: 500px){
    .Search{
        width: 250px;
        font-size: 15px;
    }
}